{% extends 'navs/dashboard_nav.html' %}

{% block content %}

    
<section id="contact">
<form action="" method="post" role="form" class="php-email-form" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <center><legend>Let's Know You</legend></center>
        <div class="row">
      <div class="col-md-6 form-group">
        <input type="text" name="occupation" class="form-control" id="name" placeholder="Occupation" required>
      </div>
      <div class="col-md-6 form-group mt-3 mt-md-0">
        <input type="text" class="form-control" name="state-of-residence" id="email" placeholder="State of Residence" required>
      </div>
    <div class="col-md-6 form-group mt-3 mt-md-0">
        <input type="number" class="form-control" name="phone-number" id="email" placeholder="Phone Number" required>
      </div>
      <div class="col-md-6 form-group mt-3 mt-md-0">
        <input type="text" class="form-control" name="home-address" id="email" placeholder="Home Address" required>
      </div>
      </div>
      <div class="row">
        <p><img id="output" width="200"/></p>
        Upload Passport
        <input type="file" name="passport" accept="image/*" onchange="loadFile(event)" required>
      </div>
  
    <div class="text-center"><button type="submit">Save</button></div>

    </fieldset>
    </form>
    </section>

    




{% endblock %}