{% extends 'navs/other_func_nav.html' %}


{% block content %}
{% load static %}

<center>
<h1 style="color:brown; font-weight:bolder; margin-top: 20px;" class="py-5">E-Transact<br/> Pin</h1>
<div class="col-lg-6">

    <form action="" method="post" role="form" class="main-form">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6 form-group">
          <h3>Enter four(4) numbers to create</h3>
          <input type="password" name="transactionpin" pattern="\d*" maxlength="4" inputmode="numeric"
          class="form-control" id="name" placeholder="Enter New Pin" style="width:90%;" required> 
         
        </div>
      </div>
      <div class="text-center"><button type="submit">Create Pin</button></div>
    </form>

  </div>
  <!-- End Contact Form -->

</div>
</div>

<div>
    <a href="{% url 'main:dashboard' %}">
        <button class="submit-btn">Close</button>
            </a>
    </div>
</center>


{% endblock %}