{% extends "admin/base.html" %}

{% block title %} OMMSCL LOAN APP{% endblock %}

{% block bootstrap_theme %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% endblock %}


{% block bootstrap_navbar_variant %}
{% endblock %}

{% block branding %}
<nav class="nav navbar bg-dark">
<div class="container" style="padding:20px;">
<span class="">
<a href="#" rel="nofollow" class="navbar-brand">
  <h1><b style="color:white; padding:20px"> OMMCSL - LOAN APP - DASHBOARD</b></h1><span></span>
</a>
</span>
</div>
</nav>
{% endblock %}
