/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Raleway", sans-serif;
  }

  /* Colors */
  :root {
    --color-default: #922c17;
    --color-primary: #922c17;
    --color-secondary: rgb(14, 13, 13);
    --color-dashboard-item: #dad4d3;
  }

  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }
  