<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>OMMCSL- Create Account</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% load static %}
  <!-- Favicons -->
  <link href="{% static 'assets/img/omslogo.png' %}" rel="icon">
  <link href="{% static 'assets/img/omslogo.png' %}" rel="apple-touch-icon">


  {% load static %}
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">

  {% load static %}
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/passcode.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/shares.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/inAppdonations.css' %}" rel="stylesheet">

</head>

<body class="page-contact">

  
  <main id="main">

    {% block content %}



    {% endblock %}


    </main>
     <!-- ======= Footer ======= -->
  
  <footer class="mobile-view-footer">
    <center>
    <nav class="footer-nav">
        <a href="{% url 'home' %}">
            <i class="bi bi-house" style="font-size:25px;color:white"></i> 
        </a>
        <a href="{% url 'Membership:create_account' %}">
            <i class="bi bi-person" style="font-size:25px;color:white"></i>
        </a>
        <a href="{% url 'main:contact' %}">
            <i class="bi bi-envelope" style="font-size:25px;color:white"></i>
        </a>
        <a href="{% url 'ecommerce:product_list' %}">
            <i class="bi bi-cart" style="font-size:25px;color:white"></i>
        </a>
    </nav>
    </center>
    </footer>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/newjs.js' %}"></script>

</body>

</html>